body {
    font-family: Mathematical Bold Italic;
    text-align: center;
    background-color: #494949;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: rgb(136, 136, 136);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

/* AREA DA IMAGEM PADRÃO */
.card img {
    width: 100%;
    height: 180px;      /* tamanho fixo */
    object-fit: cover;  /* mágica acontece aqui */
    border-radius: 10px;
}
